* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", "Arial", sans-serif;
}

body::-webkit-scrollbar {
  display: none; /* для использования Pixel Perfect*/
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  height: 5.875rem;
  width: 100%;
  left: 0;
  top: 0;
  color: #ffffff;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition:
    background-color 0.2s,
    height 0.2s;
}

.navbar-light {
  background-color: #ffffff;
  color: #292d33;
  height: 4.625rem;
}

.phone-icon {
  fill: #5c8ee6;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header {
  padding-top: 5.875rem;
  min-height: 100vh;
}

.header-image {
  position: relative;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.header-image::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.75);
}

.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
  list-style: none;
}

.header-nav-item:not(:last-child) {
  margin-right: 4.8%;
}

.header-nav-link {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
}

.header-phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.625rem;
  margin-right: 3.125rem;
  text-decoration: none;
}

.header-phone-link {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
}

.header-phone-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #5c8ee6;
}

.button {
  padding: 1.5625rem 3.75rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  border: none;
  cursor: pointer;
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100%;

  padding: 1.5625rem 3.375rem;
}

.navbar-button .button-icon {
  display: none;
}

.header-button {
  height: 100%;
}

.separator {
  width: 9.375rem;
  height: 0.125rem;
  background: #5c8ee5;
}

.header-content {
  z-index: 1;
  position: relative;
  padding-top: 9.375rem;
  color: #ffffff;
}

.header-title {
  max-width: 67.5rem;
  margin: 1.4375rem 0 2.5rem;
  font-family: "Bebas Neue Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  color: #ffffff;
  letter-spacing: 0.9px;
  word-spacing: -2.5px;
  text-transform: uppercase;
}

.header-text {
  max-width: 45rem;
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
  word-spacing: -0.5px;
  line-height: 160%;
  color: #ffffff;
}

.header-features {
  position: relative;
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.125rem;
  color: #ffffff;
  list-style: none;
}

.header-features-item {
  width: 18rem;
  padding: 1.875rem 3.125rem 1.625rem;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-svg {
  width: 2.25rem;
  height: 2.25rem;
}

.header-features-text {
  margin-bottom: 0;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 165%;
  color: #ffffff;
}

.header-button {
  padding: 1.625rem 3.875rem 1.625rem 3.8125rem;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}

.section-title {
  margin: 0;
  margin-top: 1.5625rem;
  margin-bottom: 3.25rem;
  font-family: "Bebas Neue Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  text-transform: uppercase;
  letter-spacing: normal;
}

.steps {
  display: flex;
  gap: 1.875rem;
  padding: 0;
  list-style: none;
}

.steps-item {
  max-width: 20.625rem;
}

.steps-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue Book", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee5;
}

.steps-num::after {
  content: "";
  height: 0.0625rem;
  width: 100%;
  margin-left: 1.875rem;
  background: #ebebf0;
}

.steps-title {
  flex-shrink: 0;
  margin-top: 2.1875rem;
  margin-bottom: 0.625rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  padding-right: 2.1875rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}

.steps-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
  text-decoration: none;
}

.steps-link::before {
  content: "";
  height: 0.0625rem;
  width: 2.5rem;
  margin-right: 1.25rem;
  background: #5c8ee6;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }

  .header-image {
    background-position: center;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }

  .header-logo {
    padding: 2rem;
  }

  .logo-svg {
    max-width: 6rem;
  }

  .header-nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .header-phone {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }

  .header-nav {
    padding-left: 0;
    padding-right: 1rem;
  }

  .header-phone {
    display: none;
  }

  .navbar {
    height: 5.7rem;
  }

  .navbar-light {
    height: 3rem;
  }

  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .logo-svg {
    max-width: none;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .container {
    max-width: 60rem;
  }

  .header-nav {
    display: none;
  }

  .navbar-light .logo-svg {
    width: 120px;
    height: 38px;
  }

  .logo-svg {
    width: 120px;
    height: 38px;
  }

  .navbar {
    width: 100vw;
    height: 68px;
  }

  .navbar-light {
    max-width: 100vw;
    height: 48px;
  }

  .navbar-logo {
    flex-grow: 1;
    justify-content: center;
  }

  .mobile-menu-toggle {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80px;
    height: 68px;
    padding: 27.5px 30px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }

  .navbar-light .mobile-menu-line {
    background-color: #333333;
  }

  .mobile-menu-line {
    width: 100%;
    max-width: 20px;
    height: 1px;
    background-color: #ffffff;
    transition: transform 0.2s;
  }

  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }

  .navbar-light .navbar-button {
    width: 80px;
    height: 48px;
  }

  .navbar-button {
    width: 80px;
    height: 68px;
  }

  .navbar-button .button-text {
    display: none;
  }

  .navbar-button .button-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    fill: #ffffff;
  }

  .header-phone-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .phone-icon {
    width: 2rem;
    height: 2rem;
  }

  .mobile-menu {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 5.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    overflow-y: auto;
    background-color: #ffffff;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu-nav {
    padding: 0;
    list-style: none;
  }

  .mobile-menu-nav-item {
    margin-bottom: 30px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
    text-decoration: none;
  }

  .mobile-submenu {
    margin-top: 20px;
    padding: 0;
    padding-left: 1.6rem;
    list-style: none;
  }

  .mobile-submenu-item:not(:last-child) {
    margin-bottom: 9px;
  }

  .mobile-submenu-link {
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
    text-decoration: none;
  }

  .mobile-phone {
    display: block;
    margin-bottom: 1.5rem;
    padding-top: 2.8rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    text-decoration: underline;
    border-top: 1px solid #ebebf0;
  }

  .mobile-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }

  .mobile-info:nth-of-type(2) {
    margin-bottom: 18px;
  }
  .mobile-info-address,
  .mobile-info-email {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #292d33;
    text-decoration: none;
  }

  .mobile-socials {
    display: flex;
    gap: 1.5rem;
    height: 2rem;
  }

  .close-menu {
    align-items: center;
    justify-content: center;
  }

  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }

  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(1px);
  }

  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-1px);
  }
}
