* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", "Arial", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.navbar {
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  height: 94px;
  width: 100%;
  left: 0;
  top: 0;
  color: #ffffff;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition:
    background-color 0.2s,
    height 0.2s;
}

.navbar-light {
  background-color: #ffffff;
  color: #292d33;
  height: 74px;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header {
  padding-top: 94px;
  min-height: 100vh;
}

.header-image {
  position: relative;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-image::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
}

.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  padding: 0 50px;
  margin: 0;
  list-style: none;
}

.header-nav-link {
  margin-right: 50px;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.header-phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  margin-right: 50px;
  text-decoration: none;
}

.header-phone-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.button {
  padding: 25px 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  border: none;
  cursor: pointer;
}

.navbar-button {
  height: 100%;
  flex-shrink: 0;
}

.header-button {
  height: 100%;
}

.seporator {
  width: 150px;
  height: 2px;
  background: #5c8ee5;
}

.header-content {
  z-index: 1;
  position: relative;
  padding-top: 150px;
  color: #ffffff;
}

.header-title {
  max-width: 1080px;
  margin: 30px 0;
  font-family: "Bebas Neue Book", "Arial", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  color: #ffffff;
}

.header-text {
  max-width: 720px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.header-features {
  position: relative;
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  color: #ffffff;
  list-style: none;
}

.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.section-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: #292d33;
}

.steps {
  display: flex;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee5;
}

.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  margin-left: 30px;
  background: #ebebf0;
}

.steps-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
}

.steps-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee6;
  text-decoration: none;
}

.steps-link::before {
  content: "";
  height: 1px;
  width: 40px;
  margin-right: 20px;
  background: #5c8ee6;
}
